<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/images/logo2.png" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
        <link rel="stylesheet" href="/style.css">
        <title>
            PodStream &#8226; Home
        </title>
    </head>

    <body id="top">
        <!-- header -->
        <header class="header">
            <!-- <p class="website-logo">PodStream</p>> -->
            <img class="website-logo"  src="/images/podcastvo.png" />
            <nav class="navbar">
                <ul class="navbar-list">
                    <li><a class="navbar-link" href="#section-Home"  data-after="Home">Home</a></li>
                    <li><a class="navbar-link" href="#section-Trending" data-after="Trending Now">Trending Now</a></li>
                    <li><a class="navbar-link" href="#section-Originals" data-after="Our Origionals">Our Originals</a></li>
                    <li><a class="navbar-link" href="/newPodcasts" data-after="New Podcasts">New Podcasts</a></li>
                    <li><a class="navbar-link" href="#section-contact" data-after="Contact">Contact</a></li>
                    <li><a class="navbar-link" href="#section-about"  data-after="About">About</a></li>
                    <li><a class="navbar-link signUp" href="#section-form"  data-after="SignUp">SignUp</a></li>
                </ul>
            </nav>
            <div class="hamburger">
                <div class="bar"></div>
            </div>
        </header>

        <main class="main">
            <!-- section-home -->
            <section class="section-Home" id="section-Home">
                <div class="cover"></div>
                <section class="section-info">
                    <div class="text">
                        <div class="hero">
                            <p class="hero-text">
                                <span>Discover your favourite podcast.</span><br/></br>
                                with good sound quality on our platform, that offers a range of podcasts from informative interviews
                                to in-depth discussion on topics that matters.
                            </p>
                            <button class="btn btn-primary">
                                <ion-icon name="headset"></ion-icon>
                                <span>Listen Now</span>
                            </button>
                        </div>
                        <div class="btn-link-wrapper">
                            <p class="btn-title">Subscribe On:</p>
                            <a href="#" class="btn btn-link">
                                <ion-icon name="logo-apple"></ion-icon>
                                <span>Apple Music</span>
                            </a>
                            <a href="#" class="btn btn-link">
                                <ion-icon name="logo-soundcloud"></ion-icon>
                                <span>Sound Cloud</span>
                            </a>
                        </div>
                    </div>    
                </section>
            </section>

            <!-- section-trending -->
            <section class="podcast" id="section-Trending">
                <div class="section-Title">
                    <h1 style="margin: 1rem">Popular And Trending</h1>
                </div>
                <ul class="podcast-list">
                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/junaid-akram-podcast.jpg" alt="Tube Preamps, TLM103 vs. OJ 818, Podcastage's Beanies">
                                <div class="card-banner-icon">
                                  <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 01</p>
                                </div>
                                <p class="card-title">Tube Preamps, TLM103 vs. OJ 818, Podcastage's Beanies</p>
                            </div>
                        </a>
                    </li>
    
                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/trevornoah.png" alt="Ask Unladylike: Late Bloomer with Forever 35">
                                <div class="card-banner-icon">
                                  <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 02</p>
                                </div>
                                <p class="card-title">Ask Unladylike: Late Bloomer with Forever 35</p>
                            </div>
                        </a>
                    </li>
    
                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/mooroo.png" alt="How to Effectively Incentivize Team Members">
                                <div class="card-banner-icon">
                                <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 03</p>
                                </div>
                                <p class="card-title">How to Effectively Incentivize Team Members</p>
                            </div>
                        </a>
                    </li>
    
                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/qotd.png" alt="How to go from Start-Up to Scale-Up">

                                <div class="card-banner-icon">
                                  <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 04</p>
                                </div>
                                <p class="card-title">How to go from Start-Up to Scale-Up</p>
                            </div>
                        </a>
                    </li>
    
                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/ted.png" alt="Deadbuttons – Tired of You | Live at Club Heavy">
                                <div class="card-banner-icon">
                                  <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 05</p>
                                </div>
                                <p class="card-title">Deadbuttons – Tired of You | Live at Club Heavy</p>
                            </div>
                        </a>
                    </li>
    
                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/dateline.png" alt="Boogie Through the Universe with SOWO">
                                <div class="card-banner-icon">
                                  <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 06</p>
                                </div>
                                <p class="card-title">Boogie Through the Universe with SOWO</p>
                            </div>
                        </a>
                    </li>
    
                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/hiddenbrain.png" alt="Glittering Blackness, Fall – 4 | Live at Club Heavy">
                                <div class="card-banner-icon">
                                  <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 07</p>
                                </div>
                                <p class="card-title">Glittering Blackness, Fall – 4 | Live at Club Heavy</p>
                            </div>
                        </a>
                    </li>
    
                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/globalnews.png" alt="The Meditative Photos of Chaelinjane">
                                <div class="card-banner-icon">
                                <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 08</p>
                                </div>
                                <p class="card-title">The Meditative Photos of Chaelinjane</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>

            <!-- section-Originals -->
            <section class="podcast" id="section-Originals">
                <div class="section-Title">
                    <h1 style="margin: 1rem">Our Originals</h1>
                    <a href="/newPodcasts" class="chevron-link" style="margin: 1rem; padding:.1rem">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
                <ul class="podcast-list">
                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/tinydesk.png" alt="Tube Preamps, TLM103 vs. OJ 818, Podcastage's Beanies">
                                <div class="card-banner-icon">
                                <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 01</p>
                                </div>
                                <p class="card-title">Tube Preamps, TLM103 vs. OJ 818, Podcastage's Beanies</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/theimpact.png" alt="Ask Unladylike: Late Bloomer with Forever 35">
                                <div class="card-banner-icon">
                                <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 02</p>
                                </div>
                                <p class="card-title">Ask Unladylike: Late Bloomer with Forever 35</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/punjabiz.jpg" alt="How to Effectively Incentivize Team Members">
                                <div class="card-banner-icon">
                                <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 03</p>
                                </div>
                                <p class="card-title">How to Effectively Incentivize Team Members</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/podcast-3.png" alt="How to go from Start-Up to Scale-Up">

                                <div class="card-banner-icon">
                                <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 04</p>
                                </div>
                                <p class="card-title">How to go from Start-Up to Scale-Up</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/therocketship.png" alt="Deadbuttons – Tired of You | Live at Club Heavy">
                                <div class="card-banner-icon">
                                <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 05</p>
                                </div>
                                <p class="card-title">Deadbuttons – Tired of You | Live at Club Heavy</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/gettingmoneyright.png" alt="Boogie Through the Universe with SOWO">
                                <div class="card-banner-icon">
                                <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 06</p>
                                </div>
                                <p class="card-title">Boogie Through the Universe with SOWO</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/kaleidoscope.png" alt="Glittering Blackness, Fall – 4 | Live at Club Heavy">
                                <div class="card-banner-icon">
                                <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 07</p>
                                </div>
                                <p class="card-title">Glittering Blackness, Fall – 4 | Live at Club Heavy</p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="podcast-card">
                            <figure class="card-banner">
                                <img src="./../images/leaders-talk.png" alt="The Meditative Photos of Chaelinjane">
                                <div class="card-banner-icon">
                                <ion-icon name="play"></ion-icon>
                                </div>
                            </figure>
                            <div class="card-content">
                                <div class="card-meta">
                                    <time datetime="2022-02-15">Feb 15, 2022</time>
                                    <p class="pod-epi">Episodes: 08</p>
                                </div>
                                <p class="card-title">The Meditative Photos of Chaelinjane</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </section>

            <!-- section-form -->
            <section class="section-form" id="section-form">
                <form id="form" action="/register" method="POST">
                    <div class="details">
                        <h1 class="form-title">Create Account</h1>
                        <div class="details-basic">
                            <div class="input-field">
                                <input class="field-inputs" type="text" name="firstName" id="first-name" autocomplete="off"   >
                                <label class="field-labels" for="firstName">First Name</label>
                                <span id="firstnameError" class="error"></span>
                            </div>
                            <div class="input-field">
                                <input class="field-inputs" type="text" name="lastName" id="last-name" autocomplete="off"  >
                                <label class="field-labels" for="lastName">Last Name</label>
                                <span id="lastnameError" class="error"></span>
                            </div>
                            <div class="input-field">
                                <input class="field-inputs" type="date" name="dob" autocomplete="off"  required>
                                <label class="field-labels" for="dob">Date Of Birth</label>
                            </div>
                            <div class="input-field">
                                <input class="field-inputs" type="text" name="email" id="email" autocomplete="off"   required>
                                <label class="field-labels" for="email">Email Address</label>
                                <span id="emailError" class="error"></span>
                            </div>
                            <div class="input-field">
                                <input class="field-inputs" type="text" name="country-name" autocomplete="off"  required>
                                <label class="field-labels" for="country-name">Country</label>
                            </div>
                            <div class="input-field">
                                <input class="field-inputs" type="password" name="password" id="password" autocomplete="off"  required>
                                <label class="field-labels" for="password">Password</label>
                                <span id="passwordError" class="error"></span>
                            </div>
                        </div>
                        <input style="margin-top: 5rem" type="submit" class="createaccount" value="SignUp" onclick="validateForm()"/>
                    </div>
                    <div class="details-extra">
                        <h3 class="premium-title">Enjoy premium with just <span style="font-size: 2rem;"> $6.99 </span> a month.</h3>
                        <div class="form-details">
                            <div>
                                <div class="input-field">
                                    <label class="field-labels" for="credit-card">Credit Card no.</label>
                                    <input class="field-inputs" type="number" name="credit-card" id="credit-card">
                                </div>
                                <div class="input-field">
                                    <label class="field-labels" for="password">PIN</label>
                                    <input class="field-inputs" type="password" name="password" id="password-premium">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </main>

        <!-- footer -->
        <footer >
            <div id="section-contact" class="parallax">
                <div class="footer-top">
                    <div class="footer-brand">
                        <a href="#" class="logo">
                            <img src="./../images/logo2.png" alt="Micro logo">
                        </a>
                        <p class="footer-text">
                            Subscription automatically renews after trial until cancelled.<br/> Cancel at any time.
                            Requires Family Sharing.<br/> See <a href="#">PodStream.com/family-sharing</a> for more information.
                        </p>
                    </div>
                    <ul class="footer-list">
                        <li>
                            <p class="footer-link-title">Start A Conversation</p>
                        </li>
                
                        <li>
                            <a href="mailto:maaza831@gmail.com" class="footer-link">maaza831@gmail.com</a>
                        </li>
                
                        <li>
                            <a href="tel:+0123454678" class="footer-link">+01234 54678</a>
                        </li>
                
                        <li>
                            <a href="tel:+1(2468)035-6789" class="footer-link">+1 (2468) 035-6789</a>
                        </li>
            
                    </ul>
                    <div class="social-list-box">
                        <p class="social-title">Follow Us On:</p>
                        <ul class="social-list">
                            <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                            </li>
                
                            <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                            </li>
                
                            <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                            </li>
                
                            <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-soundcloud"></ion-icon>
                            </a>
                            </li>
                
                            <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-apple"></ion-icon>
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom" id="section-about">
              <div>
                <p class="copyright">
                    <a href="#">Privacy policy</a> | 
                    <a href="#">Terms of use</a> | 
                    <a href="#">Legal</a> | 
                    <a href="#">Help</a>
                </p>
                <p class="copyright">
                    Copyright &copy; 2023 <a href="#">PodStream.com</a>. All Rights Reserved
                </p>
              </div>
              <a href="#top" class="chevron-link" style="margin-bottom: 1rem; margin-right: 6rem;">
                <ion-icon name="chevron-up-outline"></ion-icon>
              </a>
            </div>
        </footer>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="/script.js"></script>
    </body>
</html>