<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title> <%= title%> &#8226; Error</title>
    </head>

    <body>
        <div>
            <h3 style="color:whitesmoke; margin:2rem; padding: 1rem; font-size: 1.3rem; font-weight: lighter;">Error 404: Page not found !</h3>
        </div>
    </body>
</html>