<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
        <link rel="stylesheet" href="/style.css">
        <title> PodStream &#8226; New Podcasts</title>
    </head>

    <body id="top">
        <!--- podcast-->
        <section class="podcast" id="podcast">
            <div class="section-Title">
                <a href="/podcastLayout.com" class="chevron-link" style="margin: 1rem">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <h1 style="margin: 1rem">New Podcasts</h1>
            </div>
            <ul class="podcast-list">
                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/podcast-1.png" alt="Tube Preamps, TLM103 vs. OJ 818, Podcastage's Beanies">

                            <div class="card-banner-icon">
                              <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 01</p>
                            </div>
                            <h3 class="h3 card-title">Tube Preamps, TLM103 vs. OJ 818, Podcastage's Beanies</h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/gettingmoneyright.png" alt="Boogie Through the Universe with SOWO">
                            <div class="card-banner-icon">
                            <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 06</p>
                            </div>
                            <p class="card-title">Boogie Through the Universe with SOWO</p>
                        </div>
                    </a>
                </li>


                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/podcast-2.png" alt="Ask Unladylike: Late Bloomer with Forever 35">
                            <div class="card-banner-icon">
                              <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 02</p>
                            </div>
                            <h3 class="h3 card-title">Ask Unladylike: Late Bloomer with Forever 35</h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/somethinghuman.png" alt="How to Effectively Incentivize Team Members">
                            <div class="card-banner-icon">
                            <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 03</p>
                            </div>
                            <h3 class="h3 card-title">How to Effectively Incentivize Team Members</h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/tinydesk.png" alt="Tube Preamps, TLM103 vs. OJ 818, Podcastage's Beanies">
                            <div class="card-banner-icon">
                            <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 01</p>
                            </div>
                            <p class="card-title">Tube Preamps, TLM103 vs. OJ 818, Podcastage's Beanies</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/podcast-4.png" alt="How to go from Start-Up to Scale-Up">

                            <div class="card-banner-icon">
                              <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 04</p>
                            </div>
                            <h3 class="h3 card-title">How to go from Start-Up to Scale-Up</h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/theimpact.png" alt="Ask Unladylike: Late Bloomer with Forever 35">
                            <div class="card-banner-icon">
                            <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 02</p>
                            </div>
                            <p class="card-title">Ask Unladylike: Late Bloomer with Forever 35</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/podcast-5.png" alt="Deadbuttons – Tired of You | Live at Club Heavy">
                            <div class="card-banner-icon">
                              <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 05</p>
                            </div>
                            <h3 class="h3 card-title">Deadbuttons – Tired of You | Live at Club Heavy</h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/punjabiz.jpg" alt="How to Effectively Incentivize Team Members">
                            <div class="card-banner-icon">
                            <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 03</p>
                            </div>
                            <p class="card-title">How to Effectively Incentivize Team Members</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/podcast-3.png" alt="How to go from Start-Up to Scale-Up">

                            <div class="card-banner-icon">
                            <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 04</p>
                            </div>
                            <p class="card-title">How to go from Start-Up to Scale-Up</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/crafthangout.png" alt="How to go from Start-Up to Scale-Up">

                            <div class="card-banner-icon">
                            <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 04</p>
                            </div>
                            <p class="card-title">How to go from Start-Up to Scale-Up</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/podcast-6.png" alt="Boogie Through the Universe with SOWO">
                            <div class="card-banner-icon">
                              <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 06</p>
                            </div>
                            <h3 class="h3 card-title">Boogie Through the Universe with SOWO</h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/therocketship.png" alt="Deadbuttons – Tired of You | Live at Club Heavy">
                            <div class="card-banner-icon">
                            <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 05</p>
                            </div>
                            <p class="card-title">Deadbuttons – Tired of You | Live at Club Heavy</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/podcast-7.png" alt="Glittering Blackness, Fall – 4 | Live at Club Heavy">
                            <div class="card-banner-icon">
                              <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 07</p>
                            </div>

                            <h3 class="h3 card-title">Glittering Blackness, Fall – 4 | Live at Club Heavy</h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/kaleidoscope.png" alt="Glittering Blackness, Fall – 4 | Live at Club Heavy">
                            <div class="card-banner-icon">
                            <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 07</p>
                            </div>
                            <p class="card-title">Glittering Blackness, Fall – 4 | Live at Club Heavy</p>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/podcast-8.png" alt="The Meditative Photos of Chaelinjane">
                            <div class="card-banner-icon">
                            <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 08</p>
                            </div>
                            <h3 class="h3 card-title">The Meditative Photos of Chaelinjane</h3>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="#" class="podcast-card">
                        <figure class="card-banner">
                            <img src="./../images/leaders-talk.png" alt="The Meditative Photos of Chaelinjane">
                            <div class="card-banner-icon">
                            <ion-icon name="play"></ion-icon>
                            </div>
                        </figure>
                        <div class="card-content">
                            <div class="card-meta">
                                <time datetime="2022-02-15">Feb 15, 2022</time>
                                <p class="pod-epi">Episodes: 08</p>
                            </div>
                            <p class="card-title">The Meditative Photos of Chaelinjane</p>
                        </div>
                    </a>
                </li>

            </ul>
        </section>

        <!--- newsletter-->
        <section class="newsletter">
            <div class="newsletter-card">
                <div class="card-content">
                    <h3 class="h3 card-title">Subscribe For Our Newsletter. It’s Free!</h3>
                    <p class="card-text">
                        Tune in and stay informed, inspired and engaged.
                    </p>
                </div>

                <form action="/subscribe" class="card-form" data-form method="POST">
                    <input type="email" name="email_address" placeholder="Your Email Address" required 
                    class="input-field" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$"
                    data-input>
                    <button type="submit" class="btn-primary"  data-submit >Subscribe</button>
                </form>
            </div>
        </section>
    

        <a href="#top" class="chevron-link" style="margin-bottom: 2rem; margin-left:5rem">
            <ion-icon name="chevron-up-outline"></ion-icon>
        </a>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>